@font-face {
  font-family: "iconfont"; /* Project id 2536113 */
  src: url('iconfont.woff2?t=1621083586615') format('woff2'),
       url('iconfont.woff?t=1621083586615') format('woff'),
       url('iconfont.ttf?t=1621083586615') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiazai:before {
  content: "\e610";
}

.icon-wendang:before {
  content: "\e607";
}

.icon-dianzan:before {
  content: "\e60c";
}

.icon-laji:before {
  content: "\e650";
}

.icon-diandian:before {
  content: "\e653";
}

.icon-Music:before {
  content: "\e63e";
}

.icon-Group-:before {
  content: "\e688";
}

.icon-shipin:before {
  content: "\e66c";
}

.icon-icon-test:before {
  content: "\e61e";
}

.icon-jinggao:before {
  content: "\e606";
}

.icon-arrow-:before {
  content: "\e628";
}

.icon-ziyuan:before {
  content: "\e617";
}

.icon-yinle:before {
  content: "\e664";
}

.icon-icon-piliangcaozuo:before {
  content: "\e675";
}

.icon-fenxiang:before {
  content: "\e6d1";
}

.icon-play:before {
  content: "\e689";
}

.icon-shoucang1:before {
  content: "\e629";
}

.icon-guanbi:before {
  content: "\e608";
}

.icon-sousuo1:before {
  content: "\e636";
}

